#button {
  margin-inline: 10px;
}
@media screen and (min-width: 700px) {
  #form-container {
    min-width: 550px;
  }
  #form {
    width: 100%;
    margin-inline: 17%;
  }
  #button {
    margin-inline: 17%;
  }
}
