#counter {
  display: grid;
  gap: 15px;
  margin-block: 10px;
  padding-inline: 12%;
}
.card {
  width: 300px;
  background-color: #fff0f3;
}
@media screen and (min-width: 700px) {
  #counter {
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 10%;
  }
}

@media screen and (min-width: 1000px) {
  #counter {
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 3%;
  }
}
@media screen and (min-width: 1250px) {
  #counter {
    grid-template-columns: repeat(4, 1fr);
    padding-inline: 15%;
  }
}
