#biodatas {
  display: grid;
  gap: 15px;
  margin: 10px;
}
.bio-card {
  background-color: #fff8fc;
  transition: 0.5s ease;
  width: 300px;
  margin: auto;
}
.bio-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (min-width: 700px) {
  #biodatas {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  #biodatas {
    grid-template-columns: repeat(3, 1fr);
  }
  .bio-card {
    width: 400px;
  }
}
@media screen and (min-width: 1250px) {
  #biodatas {
    grid-template-columns: repeat(4, 1fr);
  }
}
