#btn,
.item {
  width: 300px;
}
#form-container {
  padding: 8px;
}
@media screen and (min-width: 600px) {
  #form-container {
    padding-block: 25px;
    padding-inline: 20px;
  }
  #btn,
  .item {
    width: 340px;
  }
}
